# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

/PadPrinter_STM8S/Project/Debug
/PadPrinter_STM8S/Project/Release
/PadPrinter_STM8S/Project/settings

/PadPrinter_STC8F/LIST
/PadPrinter_STC8F/OBJ
/PadPrinter_STC8F/PadPrinter.uvopt
/PadPrinter_STC8F/PadPrinter_uvopt.bak
/PadPrinter_STC8F/PadPrinter_uvproj.bak

/Tool/.vs
/Tool/Debug
/Tool/x64
/Tool/FATool.VC.VC.opendb
/Tool/FATool/GeneratedFiles
/Tool/FATool/Resources
/Tool/FATool/x64

*.rar